# Swap Files #
# ########## #

*.swp
*~

# Browser Build Directory #
# ####################### #
src/browser/build/

# QUnit Test Framework #
# #################### #
src/browser/tests/node_modules/

# Android Build Directories #
# ######################### #
src/android/*/bin
src/android/*/gen
src/android/build

# Java libraries #
# ############## #
src/android/libs/*.jar

# Gradle Artefacts #
# ################ #
src/android/.gradle

# Android Build Directories #
# ######################### #
src/android/*/bin
src/android/*/gen
src/android/build

# Java libraries #
# ############## #
src/android/libs/*.jar

# Gradle Artefacts #
# ################ #
src/android/.gradle
