[submodule "sjcl"]
	path = sjcl
	url = https://github.com/bitwiseshiftleft/sjcl
[submodule "spongycastle"]
	path = spongycastle
	url = https://github.com/rtyley/spongycastle
[submodule "curvezmq-java"]
	path = curvezmq-java
	url = https://github.com/zeromq/curvezmq-java
