<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.manzdagratiano.gobbledygook"
      android:versionCode="1"
      android:versionName="1.0">
    <!-- Min SDK Version for Action Bar (Android 3.0 and above) -->
    <uses-sdk android:minSdkVersion="11" />
    <!-- External storage write permissions; for exporting preferences
         (Read permissions are implied when write permissions are asked) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Holo"
                 >
        <!-- In the end, there can be only ONE (activity) -->
        <!-- For the soft input mode (on screen keyboard),
             hide the keyboard on Activity launch using
             the "stateHidden" property (until the user asks for it),
             and allow the scroll view to work properly with the
             "adjustResize" property -->
        <activity android:name="Gobbledygook"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:label="@string/app_name"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
