<?xml version="1.0" encoding="utf-8"?>
<!-- Package attributes
     android:versionCode and android:versionName
     are defined in the build.gradle file -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="io.tengentoppa.yggdrasil"
      >
    <!-- PERMISSIONS -->

    <!-- External storage write permissions; for exporting preferences
         (Read permissions are implied when write permissions are asked) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Internet permissions needed for WebView;
         we'd be using an indigenous solution for logging in
         to ensure a seamless user experience -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Use the Material Dark theme -->
    <!-- Opt-in for full backup; comprising saved data here is not
         too much of a risk, since we have two-factor authentication. -->
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/TengenToppaTheme"
                 android:allowBackup="true"
                 android:fullBackupContent="true"
                 android:supportsRtl="true"
                 >
                 <!-- The main activity will be declared in
                      the manifest for the respective flavor. -->
    </application>
</manifest>
